FOLLOW BELOW RULES while answering:
start every response with 🦜
DO NOT DELETE COMMENTS
PROCEED LIKE A SENIOR DEVELOPER
dont delete irrelavant code

tech stack:
- django
- vue.js 3

always scan whole codebase recursively before generating response

we are building a sunsama.com like productivity web app with django & Vue JS 3.
the goal is to clone every feature of sunsama as it is.

check the project architecture from docs/project-architecture.md
always prefer VueUse library as it provides many useful composables
