Django==5.2
djangorestframework==3.15.2
django-cors-headers
django-environ
django-timezone-field

# dev
djlint
ruff
django-taggit
pytz
django-simple-history
django-filter

# testing
pytest
pytest-django
pytest-cov
coverage
faker
python-dateutil

celery
django-celery-results
redis
django-celery-beat

# google auth
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client

gunicorn
psycopg
sentry-sdk

pre-commit
ruff
